body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--title);
  background-color: var(--background);
}
:root{
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);

  --title: hsl(0, 0%, 0%);
  --background: hsl(0, 0%, 100%);
  --backgroundTop: hsl(228, 100%, 98%);
  --cardBackground: hsl(228, 50%, 96%);
  --cardBackground-hover:hsl(0, 0%, 85%);
  --cardTitle-color: hsl(230, 17%, 14%);
  --cardSubtitle-color: hsl(229, 12%, 44%);
  --Subtitle-color: hsl(229, 12%, 44%);

  --switchLight: hsl(230, 22%, 74%);
  --switchDark-1: hsl(210, 78%, 56%);
  --switchDark-2: hsl(146, 68%, 55%);
}
/* ---------------------------------------------- */
/* -------------------General-------------------- */
/* ---------------------------------------------- */
.wrapper{
  padding: 0 25px;
}
.grid{
  display: grid;
  grid-row-gap: 25px;
}

/* ---------------------------------------------- */
/* -----------------RESPONSIVE------------------- */
/* ---------------------------------------------- */
@media screen and (min-width: 480px){
  .grid{
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
  }
  .wrapper{
      max-width: 1140px;
      margin: auto;
  }
}
@media screen and (min-width: 770px){
  .grid{
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 25px;
  }
}
@media screen and (min-width: 1024px){
  .grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 25px;
  }
  .header-total {
      border: none;
  }
  .header-grid {
      display: grid;
      grid-template-columns: 1fr 200px;
  }
}
/* ---------------------------------------------- */
/* -----------------DARK MODE------------------- */
/* ---------------------------------------------- */
.is-dark{
  --title: hsl(0, 0%, 100%);
  --background: hsl(230, 17%, 14%);
  --backgroundTop: hsl(232, 19%, 15%);
  --cardBackground: hsl(228, 28%, 20%);
  --cardBackground-hover:hsl(228, 31%, 26%);
  --cardTitle-color: hsl(228, 34%, 66%);
  --cardSubtitle-color: hsl(228, 34%, 66%); 
  --subtitle-color: hsl(0, 0%, 100%);
  --switchLight: linear-gradient(to right, var(--switchDark-1) 0%, var(--switchDark-2) 100% );
}
.is-light{
  --title: hsl(0, 0%, 0%);
  --background: hsl(0, 0%, 100%);
  --backgroundTop: hsl(228, 100%, 98%);
  --cardBackground: #f0f2fa;
  --cardBackground-hover:hsl(0, 0%, 85%);
  --cardTitle-color: #1e202a;
  --cardSubtitle-color: #63687e;
  --subtitle-color: hsl(229, 12%, 44%);
}
